<%- include("header"); -%><!-- this is for layout -->
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
    <!--this data comes from res.render -->
  </div>

  <div class="box">
    <% for (var i = 0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <% } %>
    <!-- newTasks this data comes from res.render -->
    <!-- newTasks[i](here i is used for the index i) this is used so every time for loop create a new li  -->
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New item" autocomplete="off">
      <button type="submit" name="list"  value=<%= listTitle %>>+</button>
    </form><!--here the value of button triger the if else in app.js its determin
     the logic which route to post data and <redirect-->
  </div>
<%- include("footer"); -%><!-- this is for layout -->
